In [1]:
# Objectives:

# 1. Combine all 3 production data files into a single Excel file called "Production data combined.xlsx". Ensure there is only one set of headings.
# 2. Calculate the total number of each type of unit produced.
# 3. Determine the 5 days with the highest production
# 4. Determine the 5 days with the lowest production

In [2]:
# Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Assign each excel file into a dataframe
df_aug = pd.read_excel("datasets\Production Aug 2023.xlsx", skiprows=3)
df_sep = pd.read_excel("datasets\Production Sep 2023.xlsx", skiprows=3)
df_oct = pd.read_excel("datasets\Production Oct 2023.xlsx", skiprows=3)

<h2>Data Understanding</h2>

In [4]:
# Quick look at August dataset
df_aug.head()

        Date    Product  Quantity
0 2023-08-01  Product B       204
1 2023-08-02  Product B        33
2 2023-08-03  Product B       385
3 2023-08-04  Product B       348
4 2023-08-05  Product B        78

In [5]:
# Quick look at September dataset
df_sep.head()

        Date    Product  Quantity
0 2023-09-01  Product B       172
1 2023-09-02  Product B       378
2 2023-09-03  Product B       249
3 2023-09-04  Product A        57
4 2023-09-05  Product B        31

In [6]:
# Quick look at October dataset
df_oct.head()

        Date    Product  Quantity
0 2023-10-01  Product B       197
1 2023-10-02  Product B        56
2 2023-10-03  Product A       340
3 2023-10-04  Product B       217
4 2023-10-05  Product B       298

In [7]:
# Lets look at the data types we are dealing with

# Data types for Aug dataset
print(df_aug.dtypes)

Date        datetime64[ns]
Product             object
Quantity             int64
dtype: object

In [8]:
# Data types for Sept dataset
print(df_sep.dtypes)

Date        datetime64[ns]
Product             object
Quantity             int64
dtype: object

In [9]:
# Data types for Oct dataset
print(df_oct .dtypes)

Date        datetime64[ns]
Product             object
Quantity             int64
dtype: object

In [10]:
# Lets create a "Production data combined" dataframe
df_combined = pd.concat([df_aug, df_sep, df_oct])

# Quick peek
df_combined

         Date    Product  Quantity
0  2023-08-01  Product B       204
1  2023-08-02  Product B        33
2  2023-08-03  Product B       385
3  2023-08-04  Product B       348
4  2023-08-05  Product B        78
..        ...        ...       ...
26 2023-10-27  Product B       394
27 2023-10-28  Product B        48
28 2023-10-29  Product A       173
29 2023-10-30  Product B       404
30 2023-10-31  Product A        24

[92 rows x 3 columns]

In [11]:
# Lets have a look at the shapes of the previous data frames to make sure no records went missing
print("Shape of Aug df: ")
print(df_aug.shape)

Shape of Aug df:
(31, 3)

In [12]:
print("Shape of Sep df: ")
print(df_sep.shape)

Shape of Sep df:
(30, 3)

In [13]:
print("Shape of Oct df: ")
print(df_oct.shape)

Shape of Oct df:
(31, 3)

In [14]:
# 92 total rows for all three dataframes

print("Shape of combined df: ")
print(df_combined.shape)

Shape of combined df:
(92, 3)

In [15]:
# Our combined dataframe has 92 rows meaning none has been lost

# Our merging was successful

<h2>Outputting Merged Excel File</h2>

In [16]:
# Output our merged dataframe into an excel file
df_combined.to_excel("Production data combined.xlsx", index=False)

In [17]:
# Lets have a look at our merged dataframe
df_combined

         Date    Product  Quantity
0  2023-08-01  Product B       204
1  2023-08-02  Product B        33
2  2023-08-03  Product B       385
3  2023-08-04  Product B       348
4  2023-08-05  Product B        78
..        ...        ...       ...
26 2023-10-27  Product B       394
27 2023-10-28  Product B        48
28 2023-10-29  Product A       173
29 2023-10-30  Product B       404
30 2023-10-31  Product A        24

[92 rows x 3 columns]